// Override the primary color variable
$primary: rgb(227, 139, 41);
$secondary: #f1a661;
$info: #ffd8a9;
$success: #beca5c;
$warning: #fdeedc;
$background-form: rgba(233, 226, 222, 0.85);
$error: #dc3545 !important;

//$form-check-input-checked-color:          $white !default;
$form-check-input-checked-bg-color: $success !default;

// .auth-form {
//   background: $background-form !important;
//   border-radius: 16px !important;
//   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//   backdrop-filter: blur(8px);
//   -webkit-backdrop-filter: blur(8px);
// }

.bg-primary-transparent {
  background-color: rgba(240, 231, 220, 0.7) !important;
}

// Re-compile Bootstrap with the overridden variables
@import '../../node_modules/bootstrap/scss/bootstrap';


.wave {
  --size: 20px;
  --m: 0.5;
  --p: calc(var(--m) * var(--size));
  --R: calc(var(--size) * sqrt(var(--m) * var(--m) + 1));

  mask: radial-gradient(
        var(--R) at 50% calc(var(--size) + var(--p)),
        #000 99%,
        #0000 101%
      )
      calc(50% - 2 * var(--size)) 0 / calc(4 * var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(-1 * var(--p)), #0000 99%, #000 101%)
      50% var(--size) / calc(4 * var(--size)) 100% repeat-x;
}
